---
import "../styles/global.css";
import ValentinesApp from "../components/ValentinesApp";
import Analytics from "@vercel/analytics/astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💘</text></svg>"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="theme-color" content="#0c0015" />
    <meta
      name="description"
      content="14 de Febrero - El dia que todos fingen ser felices"
    />
    <title>14 de Febrero 💘</title>
  </head>
  <body class="bg-inicio">
    <ValentinesApp client:load />
    <Analytics />
  </body>
</html>
